<meta charset="UTF-8">
@if (ViewData["MSG_E"] != null)
{
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> 🚫</h5>
                    <h5 class="modal-title" id="exampleModalLabel">Não autorizado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> '@Html.Raw(ViewData["MSG_E"].ToString())'</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>

    $(document).ready(function () {

      $("#exampleModal").modal({
        show:true
      });

    })

  </script>
}
@if (TempData["MSG_E"] != null)
{
    <p class="alert alert-danger">@Html.Raw(TempData["MSG_E"])</p>

}
@if (ViewData["MSG_A"] != null)
{
    <p class="alert alert-danger">'@Html.Raw(ViewData["MSG_A"].ToString())'</p>

}

@if (ViewData["MSG_S"] != null)
{
    <p class="alert alert-danger">@Html.Raw(TempData["MSG_E"])</p>
}
@if (TempData["MSG_S"] != null)
{

    <p class="alert alert-success">@Html.Raw(TempData["MSG_S"])</p>
}